/* unit-4-game -- CrystalsCollector Game by WBM, 10/26/18, CSS file */

body {
    color: black;
    /* background-image: url("../images/star-wars-wallpaper.jpg"); */
}

.title {
    background-color: brown;
    color: white;
    font-size: 40px;
    padding: 20px 5px;
    margin: 20px;
    /* margin-top: 50px; */
}

.instructions {
    background-color: tan;
    color: brown;
    font-size: 20px;
    padding: 20px 5px;
    margin: 20px;
    width: 600px;
}

.random-number-box {
    float: left;
    background-color: green;
    color: black;
    font-size: 20px;
    padding: 20px 5px;
    margin: 0px 10px 10px 20px;
    width: 200px;
    height: 150px;
}

.random-number {
    color: black;
    font-size: 40px;
}
.wins-losses {
    float: left;
    background-color: lightblue;
    color: black;
    font-size: 20px;
    padding: 20px 5px;
    margin: 0px 10px 10px 20px;
    width: 200px;
    height: 150px;
}

.gem-button {
    clear: left;
    /* /* background-color: white; */
    padding: 5px 5px;
    /* margin: 0px 10px 10px 20px;  */
}

.gem {
    background-size: 100px 100px;
    height: 100px;  
    width: 100px;
    margin: 0px 0px 0px 15px;
}

#gem-orange {
    background-image: url("../images/orange-crystal.jpg");
}
#gem-pink {
    background-image: url("../images/pink-crystal.jpg");
}
#gem-purple {
    background-image: url("../images/purple-crystal.jpg");
}
#gem-yellow {
    background-image: url("../images/yellow-crystal.jpg");
}

.score {
    clear: left;
    background-color: darkgreen;
    color: white;
    font-size: 20px;
    padding: 20px 5px;
    margin: 5px 10px 10px 20px;
    width: 200px;
    height: 150px;
}

.score-report {
    font-size: 40px;
}

img {
    padding: 25px;
    /* background-color: white;
    width: 180px;
    border: 3px;
    border-color: red;
    border-style: solid; */
}
