/* unit-4-game -- Star Wars Game by WBM, 10/23/18, CSS file */

body {
    color: white;
    background-image: url("../images/star-wars-wallpaper.jpg");
}

img {
    padding: 25px;
    background-color: white;
    width: 180px;
    border: 3px;
    border-color: red;
    border-style: solid;
}

.character-button {

}

.img-container {
    position: relative;
}

.char-name {
    position: absolute;
    /* position: relative; */
    top: -52px;
    left: 28px;
    font-size: 12px;
    color: gray;
}

.health-points {
    position: absolute;
    top: 56px;
    left: 27px;
    font-size: 12px;
    color: gray;
}